In [76]:
import numpy as np
import pandas as pd
df = pd.read_csv( "steam.csv" )
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [77]:
df

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,1065230,Room of Pandora,2019-04-24,1,SHEN JIAWEI,SHEN JIAWEI,windows,0,Single-player;Steam Achievements,Adventure;Casual;Indie,Adventure;Indie;Casual,7,3,0,0,0,0-20000,2.09
27071,1065570,Cyber Gun,2019-04-23,1,Semyon Maximov,BekkerDev Studio,windows,0,Single-player,Action;Adventure;Indie,Action;Indie;Adventure,0,8,1,0,0,0-20000,1.69
27072,1065650,Super Star Blast,2019-04-24,1,EntwicklerX,EntwicklerX,windows,0,Single-player;Multi-player;Co-op;Shared/Split ...,Action;Casual;Indie,Action;Indie;Casual,24,0,1,0,0,0-20000,3.99
27073,1066700,New Yankee 7: Deer Hunters,2019-04-17,1,Yustas Game Studio,Alawar Entertainment,windows;mac,0,Single-player;Steam Cloud,Adventure;Casual;Indie,Indie;Casual;Adventure,0,2,0,0,0,0-20000,5.19
27074,1069460,Rune Lord,2019-04-24,1,Adept Studios GD,Alawar Entertainment,windows;mac,0,Single-player;Steam Cloud,Adventure;Casual;Indie,Indie;Casual;Adventure,0,4,0,0,0,0-20000,5.19

2.1 описать типы переменных в наборе (какие являются непрерывные, категориальные, номинальные, ...)
Данный датасет предоставляет информацию о различных характеристиках игр в магазине Steam.
Разберемся с каждой характеристикой:
 0   appid             - Идентификатор игры в Steam - Числовой непрерывный
 1   name              - Название игры - Номинальный
 2   release_date      - Дата релиза - Дискретный
 3   english           - Поддержка английского (0 и 1) - Числовой дискретный
 4   developer         - Имя разработчика - Номинальный
 5   publisher         - Имя издателя - Номинальный
 6   platforms         - Список поддерживаемых платформ - Номинальный
 7   required_age      - Минимальный возраст - Числовой непрерывный
 8   categories        - Категории игр - Номинальный
 9   genres            - Жанры игр - Номинальный
 10  steamspy_tags     - Теги сообщества для игр - Номинальный
 11  achievements      - Кол-во достижений - Числовой непрерывный
 12  positive_ratings  - Кол-во положительных отзывов - Числовой непрерывный
 13  negative_ratings  - Кол-во отрицательных отзывов - Числовой непрерывный
 14  average_playtime  - Среднее значение от количества времени в игре - Числовой непрерывный
 15  median_playtime   - Медиана от количества времени в игре - Числовой непрерывный
 16  owners            - Возможное количество покупателей - Числовой непрерывный
 17  price             - Цена - Числовой непрерывный

In [78]:
df.describe() #2.3 Статистические характеристики набора

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
count,2.707500e+04,27075.000000,27075.000000,27075.000000,2.707500e+04,27075.000000,27075.000000,27075.00000,27075.000000
mean,5.962035e+05,0.981127,0.354903,45.248864,1.000559e+03,211.027147,149.804949,146.05603,6.078193
std,2.508942e+05,0.136081,2.406044,352.670281,1.898872e+04,4284.938531,1827.038141,2353.88008,7.874922
min,1.000000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000
25%,4.012300e+05,1.000000,0.000000,0.000000,6.000000e+00,2.000000,0.000000,0.00000,1.690000
50%,5.990700e+05,1.000000,0.000000,7.000000,2.400000e+01,9.000000,0.000000,0.00000,3.990000
75%,7.987600e+05,1.000000,0.000000,23.000000,1.260000e+02,42.000000,0.000000,0.00000,7.190000
max,1.069460e+06,1.000000,18.000000,9821.000000,2.644404e+06,487076.000000,190625.000000,190625.00000,421.990000

3.  Уметь показать и объяснить содержимое набора данных:

In [79]:
df.isna() #3.3 Имеются ли пустые значения полей

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27071,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27072,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27073,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27074,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

В нашей таблице нет пустых значений полей

 3.4 Статистические характеристики числовых полей (мин, макс, среднее,медиана).
 Найдём характеристики числового поля achievements

In [80]:
df["achievements"].min()

0

In [81]:
df["achievements"].max()

9821

In [82]:
df["achievements"].mean()

45.24886426592798

In [83]:
df["achievements"].median()

7.0

4. Выполнить срезы набора данных: по именам полей, по индексам

In [84]:
df.loc[0:15, 'name':'developer'] #Первые 15 строк от колонки с именем до колонки разработчиков

                              name release_date  english         developer
0                   Counter-Strike   2000-11-01        1             Valve
1            Team Fortress Classic   1999-04-01        1             Valve
2                    Day of Defeat   2003-05-01        1             Valve
3               Deathmatch Classic   2001-06-01        1             Valve
4        Half-Life: Opposing Force   1999-11-01        1  Gearbox Software
5                         Ricochet   2000-11-01        1             Valve
6                        Half-Life   1998-11-08        1             Valve
7   Counter-Strike: Condition Zero   2004-03-01        1             Valve
8            Half-Life: Blue Shift   2001-06-01        1  Gearbox Software
9                      Half-Life 2   2004-11-16        1             Valve
10          Counter-Strike: Source   2004-11-01        1             Valve
11               Half-Life: Source   2004-06-01        1             Valve
12           Day of Defeat: Source   2010-07-12        1             Valve
13         Half-Life 2: Deathmatch   2004-11-01        1             Valve
14         Half-Life 2: Lost Coast   2005-10-27        1             Valve
15    Half-Life Deathmatch: Source   2006-05-01        1             Valve

In [85]:
df.iloc[0:15, 1:5] #Первые 15 строк от колонки с именем до колонки разработчиков (с помощью индексов)

                              name release_date  english         developer
0                   Counter-Strike   2000-11-01        1             Valve
1            Team Fortress Classic   1999-04-01        1             Valve
2                    Day of Defeat   2003-05-01        1             Valve
3               Deathmatch Classic   2001-06-01        1             Valve
4        Half-Life: Opposing Force   1999-11-01        1  Gearbox Software
5                         Ricochet   2000-11-01        1             Valve
6                        Half-Life   1998-11-08        1             Valve
7   Counter-Strike: Condition Zero   2004-03-01        1             Valve
8            Half-Life: Blue Shift   2001-06-01        1  Gearbox Software
9                      Half-Life 2   2004-11-16        1             Valve
10          Counter-Strike: Source   2004-11-01        1             Valve
11               Half-Life: Source   2004-06-01        1             Valve
12           Day of Defeat: Source   2010-07-12        1             Valve
13         Half-Life 2: Deathmatch   2004-11-01        1             Valve
14         Half-Life 2: Lost Coast   2005-10-27        1             Valve

5. Выполнить выбороки с фильтрацией по значниям полей (равенство, неравенство, частичный фильтр строк с помощью лямбда-функции), с использованием |, &. Выполнить сортировку отфильтрованного набора данных

In [86]:
df[((df.developer == "Valve") | (df.developer == "Ubisoft")) & (df.english != 0)].iloc[lambda x: (x.index % 2 == 0) & (x.index < 1000), [False, True, True, False, True, False, True, False, False, False, False, False, False, False, False, False, False, True]]
#выборка игр, разрабатываемых Valve или Ubisoft, с поддержкой английского языка. Берём только четные значения, меньше 1000.

,name,release_date,developer,platforms,price
0,Counter-Strike,2000-11-01,Valve,windows;mac;linux,7.19
2,Day of Defeat,2003-05-01,Valve,windows;mac;linux,3.99
6,Half-Life,1998-11-08,Valve,windows;mac;linux,7.19
10,Counter-Strike: Source,2004-11-01,Valve,windows;mac;linux,7.19
12,Day of Defeat: Source,2010-07-12,Valve,windows;mac;linux,7.19
14,Half-Life 2: Lost Coast,2005-10-27,Valve,windows;mac;linux,0.00
16,Half-Life 2: Episode One,2006-06-01,Valve,windows;mac;linux,5.79
18,Half-Life 2: Episode Two,2007-10-10,Valve,windows;mac;linux,5.79
20,Left 4 Dead,2008-11-17,Valve,windows;mac,7.19
22,Dota 2,2013-07-09,Valve,windows;mac;linux,0.00
24,Alien Swarm,2010-07-19,Valve,windows,0.00
334,Prince of Persia: Warrior Within™,2009-08-27,Ubisoft,windows,8.59
338,Tom Clancy's Splinter Cell®,2008-04-01,Ubisoft,windows,4.29
348,Petz® Horsez® 2,2009-08-27,Ubisoft,windows,4.29
352,Silent Hunter® III,2008-06-13,Ubisoft,windows,4.29

In [87]:
#сортировка по цене и дате релиза
df[((df.developer == "Valve") | (df.developer == "Ubisoft")) & (df.english != 0)].iloc[lambda x: (x.index % 2 == 0) & (x.index < 1000), [False, True, True, False, True, False, True, False, False, False, False, False, False, False, False, False, False, True]].sort_values(by = ["price", "release_date"], ascending = [True, True])

,name,release_date,developer,platforms,price
14,Half-Life 2: Lost Coast,2005-10-27,Valve,windows;mac;linux,0.00
24,Alien Swarm,2010-07-19,Valve,windows,0.00
22,Dota 2,2013-07-09,Valve,windows;mac;linux,0.00
2,Day of Defeat,2003-05-01,Valve,windows;mac;linux,3.99
338,Tom Clancy's Splinter Cell®,2008-04-01,Ubisoft,windows,4.29
352,Silent Hunter® III,2008-06-13,Ubisoft,windows,4.29
348,Petz® Horsez® 2,2009-08-27,Ubisoft,windows,4.29
16,Half-Life 2: Episode One,2006-06-01,Valve,windows;mac;linux,5.79
18,Half-Life 2: Episode Two,2007-10-10,Valve,windows;mac;linux,5.79
6,Half-Life,1998-11-08,Valve,windows;mac;linux,7.19
0,Counter-Strike,2000-11-01,Valve,windows;mac;linux,7.19
10,Counter-Strike: Source,2004-11-01,Valve,windows;mac;linux,7.19
20,Left 4 Dead,2008-11-17,Valve,windows;mac,7.19
12,Day of Defeat: Source,2010-07-12,Valve,windows;mac;linux,7.19
334,Prince of Persia: Warrior Within™,2009-08-27,Ubisoft,windows,8.59

6. Выполнить группировку данных по некоторым признакам (на основе предварительного анализа содержимого набора данных)

In [88]:
df.groupby(["platforms"])[["price"]].agg( [np.mean, np.std, np.min, np.max] )
#группировка игр по поддерживаемым платформам, отобразив базовые стат.данные по цене

                      price
                       mean       std  amin    amax
platforms
linux              0.000000       NaN  0.00    0.00
mac                6.126667  8.236628  0.00   15.49
mac;linux          3.490000       NaN  3.49    3.49
windows            6.009143  8.149931  0.00  421.99
windows;linux      4.978328  5.345681  0.00   39.99
windows;mac        6.105347  8.933703  0.00  303.99
windows;mac;linux  6.479760  5.947220  0.00   60.99

7. Выполнить объединение таблиц с различнымы типами присоединения (если нет возможности выполнить эту операцию с загруженным набором, то допускается создать собственные наборы)

In [89]:
df_developer = df.iloc[:, :5].iloc[:, [False, True, False, False, True]] #таблица с названием и разработчиком игры
df_data = df.iloc[:, :5].iloc[:, [False, True, True, False, False]] #таблица с названием и датой релиза игры
full_df = df_developer.merge(df_data, how = "inner") # объединение
full_df

                             name           developer release_date
0                  Counter-Strike               Valve   2000-11-01
1           Team Fortress Classic               Valve   1999-04-01
2                   Day of Defeat               Valve   2003-05-01
3              Deathmatch Classic               Valve   2001-06-01
4       Half-Life: Opposing Force    Gearbox Software   1999-11-01
...                           ...                 ...          ...
27156             Room of Pandora         SHEN JIAWEI   2019-04-24
27157                   Cyber Gun      Semyon Maximov   2019-04-23
27158            Super Star Blast         EntwicklerX   2019-04-24
27159  New Yankee 7: Deer Hunters  Yustas Game Studio   2019-04-17
27160                   Rune Lord    Adept Studios GD   2019-04-24

[27161 rows x 3 columns]